<?php
/** @var \Encore\CesensApi\Model\Comentario $comentario */
$comentario = $this->comentario;
/** @var \Encore\CesensApi\Model\UbicacionCliente $ubicacion */
$ubicacion = $this->ubicacion;
?>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Cesens® - Comentario estación</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <style>
        .container {
            max-width: 650px;
            margin-top: 40px;
        }
        .centro {
            text-align: center;
            margin-bottom: 25px;
        }
        img {
            max-width: 70%;
            width: 210px;
        }
        input, textarea {
            display: inline-block;
            margin-top: 8px;
            margin-bottom: 15px;
            width: 100%;
            padding: 5px;
        }
        button {
            margin-bottom: 15px;
        }
        .oculto {
            display: none;
        }
    </style>
</head>
<body class="container">
<div class="centro">
    <img src="/antigua-app/img/logo.png" alt="Logo Cesens">
</div>
<form id="formulario" class="form">
<?php
if ($ubicacion !== null) {
?>
    <div class="form-group">
        <p>Cliente: <strong><?= htmlentities($ubicacion->getCliente()->getNombre()) ?></strong></p>
        <p>Ubicación: <strong><?= htmlentities($ubicacion->getNombre()) ?></strong></p>
    </div>
<?php
}
?>
    <div class="form-group">
        <label for="autor">Autor:</label>
        <input type="text" name="autor" id="autor" required class="form-control" value="<?= htmlentities($comentario !== null ? $comentario->getAutor() : '') ?>">
    </div>
    <div class="form-group">
        <label for="texto">Comentarios:</label>
        <textarea name="texto" id="texto" required class="form-control"><?= htmlentities($comentario !== null ? $comentario->getTexto() : '') ?></textarea>
    </div>
<?php
if ($comentario !== null) {
?>
    <p>Fecha de última modificación: <strong><?= $comentario->getFecha('d/m/Y') ?></strong></p>
<?php
}
?>
    <div class="float-right">
<?php
if ($comentario !== null) {
?>
        <button type="button" id="boton-eliminar" class="btn btn-outline-danger">Eliminar comentario</button>
<?php
}
?>
        <button type="submit" id="boton-guardar" class="btn btn-primary"><?= $comentario !== null ? 'Actualizar' : 'Crear' ?> comentario</button>
    </div>
    <div class="clearfix"></div>
</form>

<div class="alert alert-success oculto" id="msg"></div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    (function () {
        var enviando = false;
        var $msg = $('#msg');
        var $form = $('#formulario');
        var $botones = $('button');
        var toggleBotones = function (habilitar) {
            $botones.attr('disabled', !habilitar);
        };

        $('#boton-eliminar').on('click', function (e) {
            e.preventDefault();
            if (enviando) {
                return;
            }
            if (!window.confirm('¿Estás seguro de que deseas eliminar este comentario?')) {
                return;
            }

            $.ajax(window.location.pathname, {
                type: 'DELETE',
                success: function () {
                    window.location.reload();
                },
                error: function () {
                    window.alert('Ha ocurrido un error al eliminar el comentario');
                },
                complete: function () {
                    enviando = false;
                    toggleBotones(true);
                }
            });
            toggleBotones(false);
        });
        $form.on('submit', function (e) {
            e.preventDefault();
            if (enviando) {
                return;
            }

            var data = {};
            $.map($form.serializeArray(), function (item) {
                data[item.name] = item.value;
            });
            $.ajax(window.location.pathname, {
                type: 'PUT',
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function () {
                    $msg.removeClass('oculto');
                    $msg.text('Comentario guardado correctamente');
                    setTimeout(function () {
                        $msg.addClass('oculto');
                    }, 5000);
                },
                error: function () {
                    window.alert('Ha ocurrido un error al guardar el comentario');
                },
                complete: function () {
                    enviando = false;
                    toggleBotones(true);
                }
            });
            toggleBotones(false);
        });
    })();
</script>
</body>
</html>