<!DOCTYPE html>
<html lang="es">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<title>Protección de datos</title>

<body class="container-fluid">

<h1>Protección de datos</h1>

<p>Le informamos que sus datos de carácter personal serán tratados como Responsable por <strong>Encore Lab, S.L.</strong>, con domicilio en Logroño, Avenida de Zaragoza 18, Oficina 2.</p>
<p><strong>Encore Lab</strong> a través de Cesens<sup>®</sup> recopila información de las siguientes formas:</p>
<ul>
    <li>Información personal proporcionada por el Usuario en el Registro</li>
    <li>Información derivada del uso que hace el Usuario de Cesens<sup>®</sup></li>
    <li>Información del dispositivo que utiliza el Usuario para acceder a Cesens<sup>®</sup></li>
    <li>Cookies y tecnologías similares</li>
    <li>Datos sobre la ubicación física del Usuario</li>
</ul>

<p><strong>Encore Lab</strong> utiliza la información recogida para mantener, proteger y mejorar los Servicios ofrecidos por Cesens<sup>®</sup> y para desarrollar nuevas funcionalidades. También la usa para ofrecer contenido personalizado en base a análisis previos de su información, como por ejemplo resultados de búsqueda y anuncios más relevantes.</p>
<p><strong>Encore Lab</strong> guarda un registro de cada sesión de Usuario para poder resolver más fácilmente cualquier incidencia que se haya producido. <strong>Encore Lab</strong> puede utilizar la dirección de correo electrónico del Usuario para enviarle información acerca de los servicios ofrecidos, incluyendo información sobre próximos cambios o mejoras.</p>
<p><strong>Encore Lab</strong> utiliza la información que se recoge de cookies y otras tecnologías, como las etiquetas de píxeles, para mejorar la experiencia del Usuario y la calidad general de los servicios ofrecidos.</p>
<p><strong>Encore Lab</strong> pedirá el consentimiento del Usuario antes de utilizar sus datos para cualquier fin distinto de los establecidos en estas condiciones.</p>
<p>La base jurídica para el tratamiento de sus datos es su consentimiento al aceptar las presentes condiciones.</p>
<p><strong>Encore Lab</strong> se compromete a adoptar las medidas técnicas y organizativas necesarias, conforme a los tratamientos descritos, de forma se garantice la confidencialidad, integridad y disponibilidad de la información.</p>
<p>Puede ejercer en todo momento sus derechos de acceso, rectificación supresión y oposición así como su derecho a solicitar la limitación del tratamiento o realizar la portabilidad. Asimismo, tiene derecho a presentar una reclamación ante la Agencia Española de Protección de Datos como Autoridad de Control.</p>
<p>Por último, para obtener una información más exhaustiva acerca del tratamiento que <strong>Encore Lab, S.L.</strong> realiza de sus datos personales, puede consultar nuestra política de privacidad.</p>

</body>
</html>