<?php
/** @var \Encore\CesensApi\Model\Usuario $usuario */
$usuario = $this->usuario;

$esMovil = $this->esMovil;

?>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cesens®</title>
    <link href="/antigua-app/css/bootstrap.css" rel="stylesheet">
    <style>
        body {
            font-family: sans-serif;
            color: #333;
            font-size: 17px;
            padding: 7px;
            margin-top: 25px;
        }
        .centro {
            text-align: center;
            margin-bottom: 40px;
        }
        img {
            max-width: 70%;
            width: 230px;
        }
        a.btn {
            margin-top: 35px;
        }
        sup {
            top: -0.4em;
        }

        @media (max-width: 767px) {
            body {
                font-size: 16px;
            }
        }
    </style>
</head>
<body>
<div class="container">
    <div class="centro">
        <img src="/antigua-app/img/logo.png" alt="Logo Cesens">
    </div>
<?php
if ($usuario !== null) {
?>
    <p><?= _('Tu dirección de correo electrónico ha sido verificada correctamente.') ?></p>
<?php
} else {
?>
    <p class="text-danger"><?= _('Ha ocurrido un error al verificar tu dirección de correo electrónico.') ?></p>
    <p class="text-danger"><strong><?= _('Es posible que tu cuenta ya estuviera verificada.') ?></strong></p>
<?php
}
if ($esMovil) {
?>
    <p><strong><?= str_replace('®', '<sup>®</sup>', _('Abre la aplicación de Cesens® instalada en tu dispositivo para comenzar.')) ?></strong></p>
<?php
} else {
    if ($usuario !== null) {
?>
    <p><strong><?= str_replace('®', '<sup>®</sup>', _('Ya puedes comenzar a utilizar la aplicación de Cesens®.')) ?></strong></p>
<?php
    }
?>
    <a class="btn btn-lg btn-block btn-primary" href="/app/"><?= str_replace('®', '<sup>®</sup>', _('Acceder a Cesens®')) ?></a>
<?php
}
?>
</div>
</body>
</html>