<?php
/** @var \Encore\CesensApi\Model\Usuario $usuario */
$usuario = $this->usuario;
?>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Cesens® - <?= _('Restablecer clave') ?></title>
    <style>
        body {
            font-family: sans-serif;
            color: #333;
            font-size: 16px;
            padding: 10px;
            max-width: 600px;
            margin: 25px auto;
        }
        .centro {
            text-align: center;
            margin-bottom: 25px;
        }
        .derecha {
            float: right;
            margin-top: 15px;
        }
        img {
            max-width: 70%;
            width: 210px;
        }
        input {
            display: inline-block;
            margin-top: 8px;
            width: 100%;
            padding: 5px;
        }
        button {
            padding: 8px;
            color: #f9f9f9;
            background-color: #488aff;
            font-weight: bold;
            border-radius: 2px;
            margin-bottom: 15px;
        }
        #msg {
            padding: 20px;
            font-weight: bold;
            color: #35895a;
            background-color: #42ff9e;
            border: 1px solid #35895a;
            border-radius: 2px;
            clear: both;
        }
        .oculto {
            display: none;
        }
    </style>
</head>
<body>
<div class="centro">
    <img src="/antigua-app/img/logo.png" alt="Logo Cesens">
</div>
<form id="formulario">
    <label for="clave"><?= _('Introduce tu nueva contraseña:') ?></label>
    <input type="password" name="clave" id="clave">
    <div class="derecha">
        <button type="submit" id="boton"><?= _('Restablecer contraseña') ?></button>
    </div>
</form>
<div id="msg" class="oculto"></div>

<script>
    var enviando = false;
    var $form = document.getElementById('formulario');
    var $msg = document.getElementById('msg');
    var $boton = document.getElementById('boton');
    $form.onsubmit = function () {
        if (!enviando) {
            enviando = true;
            $msg.classList.add('oculto');
            $msg.textContent = '';
            var data = JSON.stringify({
                clave: document.getElementById('clave').value
            });
            var xhr = new XMLHttpRequest();
            xhr.open('PUT', window.location.pathname);
            xhr.onload = function () {
                if (xhr.readyState === 4) {
                    var respuesta;
                    try {
                        respuesta = JSON.parse(xhr.responseText).msg
                    } catch (e) {}
                    if (xhr.status === 200) {
                        $msg.classList.remove('oculto');
                        $boton.classList.add('oculto');
                        $msg.textContent = respuesta || '<?= _('Se ha restablecido la contraseña correctamente') ?>';
                    } else {
                        enviando = false;
                        alert(respuesta || '<?= _('Ha ocurrido un error interno') ?>');
                    }
                }
            };
            xhr.send(data);
        }
        return false;
    };
</script>
</body>
</html>