<?php
$enfermedad = $this->enfermedad;
$observaciones = $this->observaciones ?: '';
/** @var \Encore\CesensApi\Model\Cliente $bodega */
$bodega = $this->bodega;
/** @var \Encore\CesensApi\Model\Grafica $grafica */
$grafica = $this->grafica;
/** @var \Encore\CesensApi\Model\Ubicacion[] $ubicaciones */
$ubicaciones = $grafica->getUbicaciones() ?: [];
/** @var \Encore\CesensApi\Model\Estado[] $estados */
$estados = $this->estados ?: [];
?>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Informe de justificación <?php echo $this->escape($enfermedad); ?></title>
    <base href="<?php echo $this->basePath; ?>/">
    <link rel="stylesheet" href="app/vendor/bootstrap/dist/css/bootstrap.min.css">
    <script src="app/vendor/jquery/dist/jquery.min.js"></script>
    <script src="app/vendor/highstock-release/highstock.js"></script>
    <script src="app/js/config/highcharts.js"></script>
    <style>
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 12px;
            color: #333;
            padding: 5px;
            width: 890px;
        }
        #logo {
            padding-left: 10px;
            margin-top: 3px;
            width: 175px;
        }
        section:not(:first-child) {
            padding-top: 1.3cm;
        }
        section:not(:last-child) {
            page-break-after: always;
        }
        h1 {
            font-size: 22px;
            border-bottom: 1px solid #ddd;
            padding: 0;
            margin: 18px 0 15px;
        }
        h2 {
            font-weight: bold;
            font-size: 15px;
            text-transform: uppercase;
            color: #777;
            padding: 0;
            margin: 25px 0 15px;
        }
        th {
            text-align: left;
            padding-bottom: 4px;
            height: 20px;
        }
        td, th {
            font-size: 12px;
            padding-right: 15px;
            height: 19px;
        }
        hr {
            border: 0;
            height: 1px;
            background: #ddd;
        }
        .info {
            font-size: 14px;
            color: #556;
        }
        .col-xs-4 {
            margin: 5px 0;
        }
        svg {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        .mapa {
            width: 500px;
            height: 250px;
            overflow-y: hidden;
        }
        .variedades {
            padding-left: 33px;
        }
        .variedades td:first-child {
            padding-right: 25px;
        }
        .sensores li {
            margin-bottom: 7px;
        }
    </style>
</head>
<body>

<header>
    <div id="logo" class="pull-right"><img src="app/img/logo.png"></div>
    <h1>Informe de justificación de tratamiento fitosanitario para la enfermedad <strong><?php echo $this->escape($enfermedad); ?></strong></h1>
</header>

<?php
foreach ($ubicaciones as $ubicacion) {
    $metricasUbicacion = $ubicacion->filtrarMetricas($grafica->getMetricas($ubicacion));
    $metricas = [];
    foreach ($metricasUbicacion as $metrica) {
        $metricas[$metrica->getId()] = $metrica;
    }
?>

<section>
    <div class="pull-right">
        <div class="mapa">
            <img src="https://maps.googleapis.com/maps/api/staticmap?center=<?php echo $ubicacion->getLatitud(), ',', $ubicacion->getLongitud(); ?>&zoom=16&size=500x275&maptype=hybrid&scale=2&language=es&markers=mid|<?php echo $ubicacion->getLatitud(), ',', $ubicacion->getLongitud(); ?>">
        </div>
        <p class="pull-right">Coordenadas: <?php echo $ubicacion->getLatitud(), ',', $ubicacion->getLongitud(); ?> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Altitud: <?php echo $ubicacion->getAltitud(); ?> m</p>
    </div>

    <div class="info">
<?php
    if ($bodega !== null) {
?>
        <p>Bodega: <strong><?php echo $this->escape($bodega->getNombre()); ?></strong></p>
<?php
    }
?>
        <p>Informe generado el día <strong><?php echo date('d/m/Y'); ?></strong>.</p>
    </div>

    <h2>Estación</h2>
    <div class="row">
        <div class="col-xs-5">
            <div class="row">
                <div class="col-xs-3"><strong>Nombre</strong></div>
                <div class="col-xs-9"><p><?php echo $this->escape($ubicacion->getNombre()); ?></p></div>
            </div>
<?php
    if (!empty($ubicacion->getDescripcion())) {
?>
            <div class="row">
                <div class="col-xs-3"><strong>Descripción</strong></div>
                <div class="col-xs-9"><?php echo $this->escape($ubicacion->getDescripcion()); ?></div>
            </div>
<?php
    }
    $nodo = $ubicacion instanceof \Encore\CesensApi\Model\UbicacionCliente ? $ubicacion->nodoActual() : null;
    if ($nodo !== null) {
?>
            <div class="row">
                <div class="col-xs-3"><strong>Sensores</strong></div>
                <div class="col-xs-9">
                    <ul class="list-unstyled sensores">
<?php
        /** @var \Encore\CesensApi\Model\Sensor[] $sensores */
        $sensores = [];
        foreach ($grafica->getMetricas($ubicacion) as $metrica) {
            foreach ($nodo->getConectores() as $conector) {
                /** @var \Encore\CesensApi\Model\Sensor $sensor */
                $sensor = $conector->getSensor();
                foreach ($sensor->getMetricas() as $m) {
                    if ($m == $metrica->getId()) {
                        $sensores[$sensor->getId()] = $sensor;
                        break 2;
                    }
                }
            }
        }
        foreach ($sensores as $sensor) {
?>
                        <li>
                            <?php echo $this->escape($sensor->getFabricante()); ?> <?php echo $this->escape($sensor->getReferencia()); ?><br>
                            <em class="text-muted">
                                <?php echo implode(', ', array_filter(array_map(function ($m) use ($metricas) {
                                    /** @var \Encore\CesensApi\Model\Metrica|null $metrica */
                                    $metrica = isset($metricas[$m]) ? $metricas[$m] : null;
                                    return $metrica !== null && !($metrica instanceof \Encore\CesensApi\Model\MetricaDerivada) ? $this->escape($metrica->getNombre()) : null;
                                }, $sensor->getMetricas()))); ?>
                            </em>
                        </li>
<?php
        }
?>
                    </ul>
                </div>
            </div>
<?php
    }
?>
        </div>
    </div>
<?php
    $variedades = $ubicacion instanceof \Encore\CesensApi\Model\UbicacionCliente ? $ubicacion->getVariedades() : null;
    if (!empty($variedades)) {
?>
    <div class="row">
        <div class="col-xs-1">
            <strong>Variedades</strong>
        </div>
        <div class="col-xs-11 variedades">
            <table>
<?php
        $limite = new DateTime();
        foreach ($ubicacion->getVariedades() as $variedad) {
            list($estado, $fecha) = $ubicacion->estado($variedad, $limite);
            if ($estado !== null) {
                $estado = $estados[$estado];
                $fecha = \DateTime::createFromFormat('Y-m-d|', $fecha)->format('d/m/Y');
            }
?>
                <tr>
                    <td><?php echo $this->escape($variedad->getNombre()); ?></td>
                    <td><?php echo $estado !== null ? $this->escape($estado->getNombre()) .' - ' . $fecha : '&mdash;'; ?></td>
                </tr>
<?php
        }
?>
            </table>
        </div>
    </div>
<?php
    }
?>

    <h2>Datos</h2>
    <div class="row">
<?php
    foreach ($metricasUbicacion as $metrica) {
        $serie = new \Encore\CesensApi\Model\SerieGrafica($ubicacion, $metrica);
        $valores = [];
        if ($metrica instanceof \Encore\CesensApi\Model\MetricaDerivada && $metrica->getAcumulativa()) {
            $dato = $grafica->ultimoDato($serie);
            if ($dato !== null) {
                $valores['Valor'] = number_format($dato->getValor(), 2, ',', '.') . ' ' . $metrica->getUnidad();
            }
        } else {
            switch ((int)$metrica->getGrupo()) {
                case 1:// grupo temperatura
                case 2:// grupo humedad
                case 3:// grupo suelo
                case 4:// grupo viento
                    $valores['Máxima'] = number_format($grafica->maximo($serie), 2, ',', '.') . ' ' . $metrica->getUnidad();
                    $valores['Mínima'] = number_format($grafica->minimo($serie), 2, ',', '.') . ' ' . $metrica->getUnidad();
                    $valores['Media'] = number_format($grafica->media($serie), 2, ',', '.') . ' ' . $metrica->getUnidad();
                    break;
                case 5:// grupo precipitaciones
                    $valores['Máxima'] = number_format($grafica->maximo($serie), 2, ',', '.') . ' ' . $metrica->getUnidad();
                    $valores['Mínima'] = number_format($grafica->minimo($serie), 2, ',', '.') . ' ' . $metrica->getUnidad();
                    $valores['Total'] = number_format($grafica->media($serie), 2, ',', '.') . ' ' . $metrica->getUnidad();
                    break;
            }
        }
        if (empty($valores)) continue;
?>
        <div class="col-xs-4">
            <table>
                <tr>
                    <th colspan="2"><?php echo $this->escape($metrica->getNombre()); ?></th>
                </tr>
<?php
        foreach ($valores as $nombre => $valor) {
?>
                <tr>
                    <td><?php echo $this->escape($nombre); ?></td>
                    <td><?php echo $this->escape($valor); ?></td>
                </tr>
<?php
        }
?>
            </table>
        </div>
<?php
    }
?>
    </div>
    <div class="clearfix"></div>

    <h2>Gráfica</h2>
    <div id="grafica-<?php echo $ubicacion->getId(); ?>"></div>

    <h2>Observaciones</h2>
    <?php echo '<p>' . implode('</p><p>', explode(PHP_EOL, $this->escape($observaciones))) . '</p>'; ?>

    <script>
        (function () {
            var config = <?php echo json_encode($grafica->jsonSerialize($ubicacion)); ?>;
            config.chart = {
                renderTo: document.getElementById('grafica-<?php echo $ubicacion->getId(); ?>')
            };
            config.plotOptions = {
                series: {
                    animation: false
                }
            };
            config.navigator = config.scrollbar = {
                enabled: false
            };
            new Highcharts.Chart(config);
        })();
    </script>
</section>

<?php
}
?>

</body>
</html>