<?php

/** @var \Encore\CesensApi\Model\Alerta $alerta */
$alerta = $this->alerta;
/** @var DateTime $desde */
$desde = $this->desde;
/** @var DateTime $hasta */
$hasta = $this->hasta;
/** @var \Encore\CesensApi\Model\Ubicacion[] $ubicaciones */
$ubicaciones = $this->ubicaciones;
/** @var \Encore\CesensApi\Model\Metrica[] $metricas */
$metricas = $this->metricas;
/** @var string[] $graficas */
$graficas = $this->graficas;
/** @var \Encore\CesensApi\Model\SerieGrafica[][] $series */
$series = $this->series;
/** @var \Encore\CesensApi\Bin\ImagenesAlertas $imagenes */
$imagenes = $this->imagenes;

$formato = function ($numero, $unidad, $decimales = 1) {
    $txt = number_format($numero, $decimales, ',', '.');
    if (!empty($unidad)) {
        if ($unidad !== '%') {
            $txt .= ' ';
        }
        $txt .= $this->escape(_($unidad));
    }
    return $txt;
};
$formatoFecha = function (DateTime $fecha, $queMostrar = null) {
    $meses = [1 => _('ene'), _('feb'), _('mar'), _('abr'), _('may'), _('jun'), _('jul'), _('ago'), _('sep'), _('oct'), _('nov'), _('dic')];
    $texto = [];
    if ($queMostrar !== true) {
        $texto[] = sprintf('%d %s. ', $fecha->format('d'), $meses[$fecha->format('n')]);
    }
    if ($queMostrar !== false) {
        $texto[] = $fecha->format('H:i');
    }
    return implode(' ', $texto);
};

?>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>ALERTA: <?= $this->escape($alerta->getNombre()) ?></title>
    <style>
        body {
            font-family: sans-serif;
            color: #333;
        }
        h1 {
            font-weight: bold;
            font-size: 21px;
            padding: 0;
        }
        h2 {
            font-weight: bold;
            font-size: 14px;
            text-transform: uppercase;
            color: #777;
            padding: 0;
            margin: 15px 0;
        }
        .derecha {
            text-align: right;
        }
        table {
            border: 0;
            width: 100%;
        }
        table.logo {
            border-bottom: 1px solid #ddd;
        }
        table.logo td {
            vertical-align: bottom;
        }
        table td {
            vertical-align: top;
        }
        td.icono {
            padding-right: 12px;
            padding-bottom: 10px;
        }
        .resumen {
            padding: 0;
            border-spacing: 0;
            border-collapse: collapse;
            border: 0;
            font-size: 12px;
            margin-bottom: 14px;
        }
        .resumen .header td {
            vertical-align: middle;
            text-align: left;
        }
        .resumen p {
            margin-bottom: 0;
            padding-bottom: 0;
        }
        .resumen ul.periodos {
            margin: 0;
            list-style: none;
            font-size: 95%;
        }
        .resumen ul.periodos li {
            margin-top: 3px;
        }
        .resumen .prediccion {
            color: #666666;
        }
        .reglas {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        #footer {
            margin-top: 30px;
            border-top: 1px solid #999999;
            padding-top: 10px;
            text-align: center;
            font-size: 11px;
        }
    </style>
</head>
<body>
<table class="logo">
    <tr>
        <td><h1><?= $this->escape($alerta->getNombre()) ?></h1></td>
        <td class="derecha"><img src="cid:<?= $imagenes->añadir('logo_reducido.png', dirname(dirname(__DIR__)) . '/public/antigua-app/img') ?>" alt="Cesens"></td>
    </tr>
</table>
<ul class="reglas">
<?php
foreach ($alerta->getReglas() as $regla) {
    /** @var \Encore\CesensApi\Model\Metrica $metrica */
    $metrica = $regla->getMetrica();
?>
    <li>
        <strong><?= $this->escape($regla->toString($metrica)) ?></strong>
<?php
    if ($regla->isIntervalo() && empty($regla->getHasta())) {
?>
        durante <?= $regla->formatMinutos() ?>
<?php
    }
    if (!$alerta->comprobarEnTiempoReal()) {
        if ($desde->format('Y-m-d') === $hasta->format('Y-m-d')) {
?>
        (<?= $desde->format(_('d/m/Y')) ?>)
<?php
        } else {
            printf(_('(de %s a %s)'), $desde->format(_('d/m/Y')), $hasta->format(_('d/m/Y')));
        }
    }
?>
    </li>
<?php
}
?>
</ul>
<?php
foreach ($ubicaciones as $ubicacion) {
    if (!isset($graficas[$ubicacion->getId()])) {
        continue;
    }
    $cidGrafica = $graficas[$ubicacion->getId()];
?>
    <h2><?= $this->escape($ubicacion->getNombre()) ?></h2>
    <table class="resumen">
<?php
    $i = 0;
    foreach ($alerta->getReglas() as $regla) {
        /** @var \Encore\CesensApi\Model\Metrica $metrica */
        $metrica = $regla->getMetrica();
        $serie = isset($series[$ubicacion->getId()][$metrica->getId()]) ? $series[$ubicacion->getId()][$metrica->getId()] : null;
        if ($serie !== null) {
            if ($i % 2 === 0) {
?>
        <tr>
<?php
            }
?>
            <td>
                <table>
                    <tr class="header">
                        <td class="icono" width="40">
<?php
            $icono = \Encore\CesensApi\Bin\ImagenesAlertas::iconoMetrica($regla);
            if ($icono !== null) {
                $icono = $imagenes->añadir($icono . '-32.png', $this->pathIconosMetricas);
?>
                            <img src="cid:<?= $icono; ?>">
<?php
            }
?>
                        <td style="width: 100%"><?= $this->escape($regla->toString($metrica)) ?></td>
                    </tr>
                    <tr>
                        <td colspan="2">
<?php
            if ($metrica instanceof \Encore\CesensApi\Model\MetricaDerivada && $metrica->getDiaria()) {
                $dato = $serie->ultimoValorActual();
                if ($dato !== null) {
                    $fecha = $dato->getFecha(DateTime::class);
                    $esValorActual = $fecha->getTimestamp() - 3600 > time();
?>
                            <p>
                                <?= $esValorActual ? 'Valor actual' : 'Último valor ('  . $formatoFecha($fecha) . ')' ?>:
                                <strong><?= $formato($dato->getValor(), $metrica->getUnidad()) ?></strong>
                            </p>
<?php
                }
            } else {
                if ($metrica->getId() === \Encore\CesensApi\Model\Metrica::$LISTA['Plu']) {
                    $primeraFecha = null;
                    $fechaAnterior = null;
                    $grupos = [];
                    $suma = 0.0;
                    $sumaTotal = 0.0;
                    foreach (array_filter($serie->getDatos() ?: []) as $fecha => $dato) {
                        $sumaTotal += $dato;
                        if ($fechaAnterior === null) {
                            $primeraFecha = $fecha;
                        }
                        if ($fechaAnterior === null || $fechaAnterior + 3600 >= $fecha) {
                            $suma += $dato;
                        } else {
                            $primeraFecha = (new DateTime())->setTimestamp($primeraFecha);
                            $grupos[$formatoFecha($primeraFecha, false)][] = [
                                'desde' => $primeraFecha,
                                'hasta' => (new DateTime())->setTimestamp($fechaAnterior),
                                'valor' => $suma,
                            ];
                            $suma = $dato;
                            $primeraFecha = $fecha;
                        }
                        $fechaAnterior = $fecha;
                    }
                    if ($suma > 0.0) {
                        $primeraFecha = (new DateTime())->setTimestamp($primeraFecha);
                        $grupos[$formatoFecha($primeraFecha, false)][] = [
                            'desde' => $primeraFecha,
                            'hasta' => (new DateTime())->setTimestamp($fechaAnterior),
                            'valor' => $suma,
                        ];
                    }
                    if (count($grupos, COUNT_RECURSIVE) - count($grupos) > 1) {
?>
                            <p style="margin-bottom: 18px">Total periodo: <strong><?= $formato($sumaTotal, $metrica->getUnidad()) ?></strong></p>
<?php
                    }
?>
                            <ul class="periodos">
<?php
                    foreach ($grupos as $dia => $gruposDia) {
?>
                                <li>
                                    <?= $dia ?>
                                    <ul>
<?php
                        foreach ($gruposDia as $grupo) {
                            /** @var DateTime $inicio */
                            $inicio = $grupo['desde'];
                            /** @var DateTime $fin */
                            $fin = $grupo['hasta'];
?>
                                        <li>
                                            <?= $formatoFecha($inicio, true); if ($inicio->getTimestamp() !== $fin->getTimestamp()) { echo '-', $formatoFecha($fin, true); } ?> h:
                                            <?= $formato($grupo['valor'], $metrica->getUnidad(), 1) ?>
                                            <span class="prediccion"><?= $fin->getTimestamp() > time() ? ' (predicción)' : '' ?></span>
                                        </li>
<?php
                        }
?>
                                    </ul>
                                </li>
<?php
                    }
?>
                            </ul>
<?php
                } else {
                    $primeraFecha = null;
                    $ultimaFecha = null;
                    $fechaAnterior = null;
                    $grupos = [];
                    foreach ($serie->getDatos() ?: [] as $fecha => $dato) {
                        if ($regla->cumpleCondicion($dato)) {
                            if ($primeraFecha === null) {
                                $primeraFecha = $fecha;
                            }
                            $ultimaFecha = null;
                        } else {
                            if ($ultimaFecha === null) {
                                $ultimaFecha = $fechaAnterior;
                            }
                            if ($primeraFecha !== null && $primeraFecha + 3600 < $fecha) {
                                $primeraFecha = (new DateTime())->setTimestamp($primeraFecha);
                                $grupos[$formatoFecha($primeraFecha, false)][] = [
                                    'desde' => $primeraFecha,
                                    'hasta' => (new DateTime())->setTimestamp($ultimaFecha),
                                ];
                                $primeraFecha = null;
                            }
                        }
                        $fechaAnterior = $fecha;
                    }
                    if ($primeraFecha !== null) {
                        $primeraFecha = (new DateTime())->setTimestamp($primeraFecha);
                        $grupos[$formatoFecha($primeraFecha, false)][] = [
                            'desde' => $primeraFecha,
                            'hasta' => (new DateTime())->setTimestamp($fechaAnterior),
                        ];
                    }
?>
                            <ul class="periodos">
<?php
                    foreach ($grupos as $dia => $gruposDia) {
?>
                                <li>
                                    <?= $dia ?>
                                    <ul>
<?php
                        foreach ($gruposDia as $grupo) {
                            /** @var DateTime $inicio */
                            $inicio = $grupo['desde'];
                            /** @var DateTime $fin */
                            $fin = $grupo['hasta'];
?>
                                        <li>
                                            <?= $formatoFecha($inicio, true); if ($inicio->getTimestamp() !== $fin->getTimestamp()) { echo '-', $formatoFecha($fin, true); } ?> h
                                            <span class="prediccion"><?= $fin->getTimestamp() > time() ? ' (predicción)' : '' ?></span>
                                        </li>
<?php
                        }
?>
                                    </ul>
                                </li>
<?php
                    }
?>
                            </ul>
<?php
                }
            }
?>
                        </td>
                    </tr>
                </table>
            </td>
<?php
            $i++;
        }
    }
    if ($i % 2 === 1) {
?>
            <td></td>
        </tr>
<?php
    }
?>
    </table>
    <p class="grafica"><img src="cid:<?= $cidGrafica ?>"></p>
<?php
}
?>
<p id="footer">Si desea cambiar los parámetros de esta alerta o quiere dejar de recibirla, acceda a la aplicación <a href="https://app.cesens.com/">Cesens</a> y configúrela.</p>
</body>
</html>