<?php
/** @var PHPMailer $mailer */
$mailer = $this->mailer;

/** @var \Encore\CesensApi\Model\Sigfox\TramaDispositivoError $trama */
$trama = $this->trama;

$ubicacion = $trama->getUbicacion();

$logo = dirname(dirname(__DIR__)) . '/public/antigua-app/img/logo_reducido.png';
if (file_exists($logo)) {
    $cidLogo = sha1($logo);
    $r = $mailer->addEmbeddedImage($logo, $cidLogo, 'Logo Cesens.png', 'base64', 'image/png', 'inline');
} else {
    $cidLogo = null;
}
?>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title><?= $this->escape($mailer->Subject); ?></title>
    <style>
        body {
            font-family: sans-serif;
            color: #333;
            font-size: 14px;
        }
        .derecha {
            text-align: right;
            margin-bottom: 12px;
        }
        .principal {
            border: 1px solid #999999;
            width: 100%;
        }
    </style>
</head>
<body>
<?php
if ($cidLogo !== null) {
?>
<div class="derecha">
    <img src="cid:<?= $cidLogo ?>" alt="Logo Cesens">
</div>
<?php
}
?>
<table class="principal" cellpadding="7">
    <tr>
        <td>
            Se ha recibido la siguiente notificación a causa de un funcionamiento anómalo de una estación de Cesens® Mini:
        </td>
    </tr>
    <tr>
        <td>
            <ul>
                <li>
                    Ubicación:
                    <strong><?= $this->escape($ubicacion->getNombre()) ?></strong>
                    (<?= $this->escape($ubicacion->getCliente()->getNombre()) ?>)
                    <small>- <a href="https://maps.google.es/?q=<?= $ubicacion->getLatitud(), ',', $ubicacion->getLongitud(); ?>">ver en mapa</a></small>
                </li>
                <li>
                    Nodo: <strong><?= $trama->getNodo()->getId() ?></strong>
                    | <small>Número de serie:</small> <?= $trama->getNodo()->getNumeroSerie() ?>
<?php
$nodo = $trama->getNodo();
if ($nodo instanceof \Encore\CesensApi\Model\NodoSigfox) {
?>
                    | <small>Sigfox:</small> <?= $nodo->getCodigoSigfox() ?>
<?php
}
?>
                </li>
                <li>
                    Fecha y hora:
                    <strong><?= $trama->getTime()->format('Y-m-d H:i:s') ?></strong>
                </li>
                <li>
                    Error:
                    <strong>ID = <?= $trama->getIdError() ?></strong>
                    (<?= $trama->getIdErrorAsString() ?: 'desconocido' ?>)
                </li>
                <li>
                    ¿Hubo reset?
                    <strong><?= $trama->huboReset() ? 'true' : 'false' ?></strong>
                </li>
                <li>
                    ¿Hubo reset RTC?
                    <strong><?= $trama->huboResetRtc() ? 'true' : 'false' ?></strong>
                </li>
                <li>
                    Otros parámetros:
                    <ul>
<?php
foreach ($trama->parametros() as $parametro => $valor) {
?>
                        <li><?= $parametro ?>: <?= $valor ? 'true' : 'false' ?></li>
<?php
}
?>
                    </ul>
                </li>
            </ul>
        </td>
    </tr>
</table>
</body>
</html>