<?php

/** @var string $asunto */
$asunto = $this->asunto;

/** @var PHPMailer $mailer */
$mailer = $this->mailer;

/** @var \Encore\CesensApi\Model\Parcela[] $parcelasGeneral */
$parcelasGeneral = $this->general['parcelas'];
/** @var \Encore\CesensApi\Model\Usuario[] $usuariosGeneral */
$usuariosGeneral = $this->general['usuarios'];
$estadosGeneral = $this->general['estados'];
$incidenciasGeneral = $this->general['incidencias'];

/** @var \Encore\CesensApi\Model\RegistroEstado[] $estadosNuevos */
$estadosNuevos = $this->nuevo['estados'];
/** @var \Encore\CesensApi\Model\IncidenciaEnfermedad[] $incidenciasNuevas */
$incidenciasNuevas = $this->nuevo['incidencias'];

$logo = dirname(dirname(__DIR__)) . '/public/antigua-app/img/logo_reducido.png';
$cidLogo = sha1($logo);
$mailer->addEmbeddedImage($logo, $cidLogo, 'Logo Cesens.png', 'base64', 'image/png', 'inline');
?>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cesens® - <?= htmlspecialchars($asunto) ?></title>
    <style>
        body {
            font-family: sans-serif;
            color: #333;
            font-size: 14px;
        }
        .derecha {
            text-align: right;
            margin-bottom: 12px;
        }
        h1 {
            border-bottom: 1px solid #ccc;
        }
        .borde {
            border: 1px solid #999;
            width: 100%;
        }
        .text-muted {
            color: #999;
        }
        .resumen {
            padding-bottom: 20px;
        }
        .titulo {
            background-color: #fbffdf;
        }
        .warning {
            background-color: #ffbb00;
        }
        .list {
            border-top: 1px solid #ccc;
            padding-top: 15px;
        }
        .list p {
            margin-top: 0;
            margin-bottom: 0;
        }
        .numero {
            color: red;
            font-size: 175%;
            vertical-align: top;
            padding-right: 5px;
            text-align: center;
        }
    </style>
</head>
<?php
$numUsuariosCliente = 0;
foreach ($usuariosGeneral as $usuario) {
    if ($usuario->getCliente() !== null) {
        $numUsuariosCliente++;
    }
}
?>
<body>
<div class="derecha">
    <img src="cid:<?= $cidLogo ?>" alt="Logo Cesens">
</div>
<h1><?= htmlspecialchars($asunto) ?> <small class="text-muted"><?= date('d/m/Y') ?></small></h1>
<p>Número de fincas: <strong><?= count($parcelasGeneral) ?></strong> <span class="text-muted">(creadas por <?= count($usuariosGeneral) ?> usuarios, de los cuales <?= $numUsuariosCliente ?> son clientes)</span></p>
<p>Puntos de control con estados fenológicos: <strong><?= array_sum($estadosGeneral) ?></strong></p>
<?php
if (!empty($estadosGeneral)) {
?>
<ul>
<?php
    foreach ($estadosGeneral as $nombre => $numero) {
?>
    <li><?= htmlspecialchars($nombre) ?>: <?= $numero ?></li>
<?php
    }
?>
</ul>
<?php
}
?>
<p>Puntos de control con incidencias de enfermedad: <strong><?= array_sum($incidenciasGeneral) ?></strong></p>
<?php
if (!empty($incidenciasGeneral)) {
?>
<ul>
<?php
    foreach ($incidenciasGeneral as $nombre => $numero) {
?>
    <li><?= htmlspecialchars($nombre) ?>: <?= $numero ?></li>
<?php
    }
?>
</ul>
<?php
}
?>

<table class="borde" cellspacing="5">
    <tr>
        <td colspan="2" class="resumen">
            <h2>Nuevos estados fenológicos</h2>
            <p>En las últimas 24 horas se han dado de alta <?= count($estadosNuevos) ?> registros con fenología.</p>
        </td>
    </tr>
<?php
$i = 0;
foreach ($estadosNuevos as $estado) {
    /** @var \Encore\CesensApi\Model\Localizacion $localizacion */
    $localizacion = $estado->getLocalizacion();
    $parcela = $parcelasGeneral[$localizacion->getParcela()];
    $usuario = $usuariosGeneral[$parcela->getUsuario()];
?>
    <tr>
        <td class="numero"><?= ++$i ?></td>
        <td class="list">
            <p>
                <span class="titulo">Usuario:</span>
                <a href="mailto:<?= htmlspecialchars($usuario->getEmail()) ?>"><?= htmlspecialchars($usuario->getEmail()) ?></a>
                - <?= htmlspecialchars($usuario->nombreCompleto()) ?>
<?php
    $infoUsuario = $usuario->getInformacion();
    if ($infoUsuario !== null && !empty($infoUsuario->getTelefono())) {
?>
                - <a href="tel:<?= htmlspecialchars($infoUsuario->getTelefono()) ?>"><?= htmlspecialchars($infoUsuario->getTelefono()) ?></a>
<?php
    }
    if ($usuario->getCliente() !== null) {
?>
                - <span class="titulo">Cliente:</span> <?= htmlspecialchars($usuario->getCliente()->getNombre()) ?>
<?php
    }
?>
            </p>
<?php
    if (!$usuario->getAjustes()->getCompartirFenologia()) {
?>
            <p><span class="warning">El usuario no comparte su fenología.</span></p>
<?php
    }
?>
            <p>
                <span class="titulo">Parcela:</span>
                <strong><?= htmlspecialchars($parcela->getNombre()) ?></strong> <small class="text-muted">[<?= $parcela->getId() ?>]</small>
            </p>
            <p>
                <span class="titulo">Cultivo:</span>
                <strong><?= htmlspecialchars($parcela->getCultivo()->getNombre()) ?></strong>
            </p>
            <p>
                <span class="titulo">Estado fenológico:</span>
                <strong><?= htmlspecialchars($estado->getEstado()->getAcronimo()) ?> <span class="text-muted">- <?= htmlspecialchars($estado->getEstado()->getNombre()) ?></span></strong>
            </p>
            <p>
                <span class="titulo">Fecha asignada:</span>
                <strong><?= $estado->getFecha('d/m/Y') ?></strong>
            </p>
            <p>
                <span class="titulo">Punto de control:</span>
                <strong><?= htmlspecialchars($localizacion->getNombre()) ?></strong> <small class="text-muted">[<?= $localizacion->getId() ?>]</small>
                — <span class="titulo">Ubicación:</span>
                <strong><?= $parcela->getMunicipio()->getNombre() ?> (<?= htmlspecialchars($parcela->getMunicipio()->getProvincia()) ?>)</strong>
                <a href="https://www.google.com/maps/search/?api=1&query=<?= $localizacion->getLatitud() ?>,<?= $localizacion->getLongitud() ?>"><?= $localizacion->getLatitud() ?>, <?= $localizacion->getLongitud() ?></a>
            </p>
            <p>
                <span class="titulo">Comentarios del usuario:</span>
                <strong><?= htmlspecialchars($estado->getComentarios()) ?></strong>
            </p>
            <p>
                <span class="titulo">Imagen:</span>
<?php
    if ($estado->getImagen() !== null) {
?>
                <a href="https://app.cesens.com/api/localizaciones/fenologia/<?= $localizacion->getId() ?>/estado/<?= $estado->getEstado()->getId() ?>/<?= $estado->getFecha('Y') ?>/imagen-comunidad?auth=5sEJVghH7vr65GFLcsghMnZ6gNMePnTC">descargar</a>
<?php
    } else {
?>
                <span class="text-muted">no hay imagen</span>
<?php
    }
?>
            </p>
        </td>
    </tr>
<?php
}
?>
</table>
<p style="margin-bottom: 0">&nbsp;</p>

<table class="borde" cellspacing="5">
    <tr>
        <td colspan="2" class="resumen">
            <h2>Nuevas incidencias de enfermedad</h2>
            <p>En las últimas 24 horas se han dado de alta <?= count($incidenciasNuevas) ?> incidencias de enfermedad.</p>
        </td>
    </tr>
<?php
$i = 0;
foreach ($incidenciasNuevas as $incidencia) {
    /** @var \Encore\CesensApi\Model\Localizacion $localizacion */
    $localizacion = $incidencia->getLocalizacion();
    $parcela = $parcelasGeneral[$localizacion->getParcela()];
    $usuario = $usuariosGeneral[$parcela->getUsuario()];
?>
    <tr>
        <td class="numero"><?= ++$i ?></td>
        <td class="list">
            <p>
                <span class="titulo">Usuario:</span>
                <a href="mailto:<?= htmlspecialchars($usuario->getEmail()) ?>"><?= htmlspecialchars($usuario->getEmail()) ?></a>
                - <?= htmlspecialchars($usuario->nombreCompleto()) ?>
                <?php
                $infoUsuario = $usuario->getInformacion();
                if ($infoUsuario !== null && !empty($infoUsuario->getTelefono())) {
                    ?>
                    - <a href="tel:<?= htmlspecialchars($infoUsuario->getTelefono()) ?>"><?= htmlspecialchars($infoUsuario->getTelefono()) ?></a>
                    <?php
                }
                if ($usuario->getCliente() !== null) {
                    ?>
                    - <span class="titulo">Cliente:</span> <?= htmlspecialchars($usuario->getCliente()->getNombre()) ?>
                    <?php
                }
                ?>
            </p>
<?php
    if (!$usuario->getAjustes()->getCompartirIncidencias()) {
?>
            <p><span class="warning">El usuario no comparte sus incidencias de enfermedad.</span></p>
<?php
    }
?>
            <p>
                <span class="titulo">Parcela:</span>
                <strong><?= htmlspecialchars($parcela->getNombre()) ?></strong> <small class="text-muted">[<?= $parcela->getId() ?>]</small>
            </p>
            <p>
                <span class="titulo">Cultivo:</span>
                <strong><?= htmlspecialchars($parcela->getCultivo()->getNombre()) ?></strong>
            </p>
            <p>
                <span class="titulo">Enfermedad:</span>
                <strong><?= htmlspecialchars($incidencia->getEnfermedad()->getNombre()) ?></strong>
            </p>
            <p>
                <span class="titulo">Fecha asignada:</span>
                <strong><?= $incidencia->getFecha('d/m/Y') ?></strong>
            </p>
            <p>
                <span class="titulo">Punto de control:</span>
                <strong><?= htmlspecialchars($localizacion->getNombre()) ?></strong> <small class="text-muted">[<?= $localizacion->getId() ?>]</small>
                — <span class="titulo">Ubicación:</span>
                <strong><?= $parcela->getMunicipio()->getNombre() ?> (<?= htmlspecialchars($parcela->getMunicipio()->getProvincia()) ?>)</strong>
                <a href="https://www.google.com/maps/search/?api=1&query=<?= $localizacion->getLatitud() ?>,<?= $localizacion->getLongitud() ?>"><?= $localizacion->getLatitud() ?>, <?= $localizacion->getLongitud() ?></a>
            </p>
            <p>
                <span class="titulo">Comentarios del usuario:</span>
                <strong><?= htmlspecialchars($incidencia->getComentarios()) ?></strong>
            </p>
            <p>
                <span class="titulo">¿Está seguro?</span>
                <strong><?= $incidencia->getCerteza() ? 'Sí' : 'No' ?></strong>
            </p>
            <p>
                <span class="titulo">Imagen:</span>
<?php
    if ($incidencia->getImagen() !== null) {
?>
<a href="https://app.cesens.com/api/localizaciones/incidencias/<?= $localizacion->getId() ?>/enfermedad/<?= $incidencia->getId() ?>/imagen-comunidad?auth=5sEJVghH7vr65GFLcsghMnZ6gNMePnTC">descargar</a>
<?php
    } else {
?>
<span class="text-muted">no hay imagen</span>
<?php
    }
?>
            </p>
        </td>
    </tr>
<?php
}
?>
</table>

</body>
</html>
