<?php
/** @var \Encore\CesensApi\Model\UbicacionCliente $ubicacion */
$ubicacion = $this->ubicacion;

/** @var \Encore\CesensApi\Model\Usuario $usuario */
$usuario = $this->usuario;

$nodo = $ubicacion->nodoActual();

/** @var PHPMailer $mailer */
$mailer = $this->mailer;

$logo = dirname(dirname(__DIR__)) . '/public/antigua-app/img/logo_reducido.png';
$cidLogo = sha1($logo);
$mailer->addEmbeddedImage($logo, $cidLogo, 'Logo Cesens.png', 'base64', 'image/png', 'inline');
?>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cesens® - Nueva estación</title>
    <style>
        body {
            font-family: sans-serif;
            color: #333;
            font-size: 14px;
        }
        .derecha {
            text-align: right;
            margin-bottom: 12px;
        }
        .principal {
            border: 1px solid #999999;
            width: 100%;
        }
    </style>
</head>
<body>
<div class="derecha">
    <img src="cid:<?= $cidLogo ?>" alt="Logo Cesens">
</div>
<table class="principal" cellpadding="7">
    <tr>
        <td>
            <p>Se acaba de instalar la siguiente estación:</p>
            <ul>
                <li>
                    Nombre:
                    <strong><?= htmlspecialchars($ubicacion->getNombre()) ?></strong>
                </li>
                <li>
                    Cliente:
                    <strong><?= htmlspecialchars($ubicacion->getCliente()->getNombre()) ?></strong>
                </li>
                <li>
                    Coordendas:
                    <strong>
                        <a href="https://maps.google.es/?q=<?= $ubicacion->getLatitud() ?>,<?= $ubicacion->getLongitud() ?>">
                            <?= $ubicacion->getLatitud() ?>, <?= $ubicacion->getLongitud() ?>
                        </a>
                    </strong>
                </li>
                <li>
                    Notas:
                    <strong><?= htmlspecialchars($ubicacion->getNotas()) ?></strong>
                </li>
            </ul>
        </td>
    </tr>
<?php
if ($nodo !== null) {
?>
    <tr>
        <td>
            <p>Datos de la estación:</p>
            <ul>
                <li>Estación <?= $nodo instanceof \Encore\CesensApi\Model\NodoSigfox ? 'Mini' : 'grande' ?></li>
                <li>ID: <strong><?= $nodo->getId() ?></strong></li>
                <li>Número de serie: <strong><?= htmlspecialchars($nodo->getNumeroSerie()) ?></strong></li>
<?php
    if ($nodo instanceof \Encore\CesensApi\Model\NodoSigfox) {
?>
                <li>Código Sigfox: <strong><?= htmlspecialchars($nodo->getCodigoSigfox()) ?></strong></li>
<?php
    }
?>
            </ul>
        </td>
    </tr>
<?php
}
if ($usuario !== null) {
?>
    <tr>
        <td>
            <p>Usuario que ha instalado la estación:</p>
            <ul>
                <li>Nombre: <strong><?= htmlspecialchars($usuario->nombreCompleto()) ?></strong></li>
                <li>Correo electrónico: <strong><?= htmlspecialchars($usuario->getEmail()) ?></strong></li>
<?php
    if ($usuario->getCliente() !== null) {
?>
        <li>Cliente: <strong><?= htmlspecialchars($usuario->getCliente()->getNombre()) ?></strong></li>
<?php
    }
?>
            </ul>
        </td>
    </tr>
<?php
}
?>
</table>
</body>
</html>