<?php
/** @var \Encore\CesensApi\Model\Usuario $usuario */
$usuario = $this->usuario;

/** @var \Encore\CesensApi\Model\Acceso $acceso */
$acceso = $this->acceso;

/** @var int $numeroUsuarios */
$numeroUsuarios = $this->numeroUsuarios;

/** @var \Encore\CesensApi\Model\InformacionUsuario $informacion */
$informacion = $usuario->getInformacion();

$profesion = $informacion->getOtraProfesion() ?: $this->profesiones[$informacion->getProfesion()];

$listaTiposCultivo = $this->tiposCultivo;
$tiposCultivo = [];
foreach ($informacion->getTiposCultivo() as $tipoCultivo) {
    $tiposCultivo[] = $listaTiposCultivo[$tipoCultivo];
}
if (!empty($informacion->getOtroTipoCultivo())) {
    $tiposCultivo[] = $informacion->getOtroTipoCultivo();
}

/** @var PHPMailer $mailer */
$mailer = $this->mailer;

$logo = dirname(dirname(__DIR__)) . '/public/antigua-app/img/logo_reducido.png';
$cidLogo = sha1($logo);
$mailer->addEmbeddedImage($logo, $cidLogo, 'Logo Cesens.png', 'base64', 'image/png', 'inline');
?>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cesens® - Nuevo usuario</title>
    <style>
        body {
            font-family: Helvetica, Arial, sans-serif;
            color: #333;
            font-size: 14px;
        }
        .derecha {
            text-align: right;
            margin-bottom: 12px;
        }
        .principal {
            border: 1px solid #999999;
            width: 100%;
        }
    </style>
</head>
<body>
<div class="derecha">
    <img src="cid:<?= $cidLogo ?>" alt="Logo Cesens®">
</div>
<table class="principal" cellpadding="7">
    <tr>
        <td>
            <p>Se ha registrado un nuevo usuario en Cesens<sup>®</sup>. El usuario ha aportado la siguiente información:</p>
            <ul>
                <li>
                    Nombre y email:
                    <strong><?= $this->escape($usuario->nombreCompleto()) ?></strong>
                    – <?= $this->escape($usuario->getEmail()) ?>
                </li>
                <li>
                    Teléfono:
<?php
if (!empty($informacion->getTelefono())) {
?>
                    <strong>
                        <a href="tel:<?= $this->escape($informacion->getTelefono()) ?>"><?= $this->escape($informacion->getTelefono()) ?></a>
                    </strong>
<?php
}
?>
                </li>
                <li>
                    Nos conoció a través de:
                    <strong><?= $this->escape($this->comoConociste[$informacion->getComoConociste()]) ?></strong>
<?php
if (!empty($informacion->getComoConocisteTexto())) {
?>
                    – <?= $this->escape($informacion->getComoConocisteTexto()) ?>
<?php
}
?>
                </li>
                <li>
                    Profesión:
                    <strong><?= $this->escape($profesion) ?></strong>
                </li>
<?php
if ($informacion->getEstudiante() === null) {
?>
                <li>
                    Organización:
                    <strong><?= $this->escape($informacion->getOrganizacion()) ?></strong>
                </li>
<?php
} else {
?>
                <li>
                    Universidad:
                    <strong><?= $this->escape($informacion->getEstudiante()) ?></strong>
                </li>
<?php
}
?>
                <li>
                    Tipos de cultivo:
                    <strong><?= implode(', ', $tiposCultivo) ?: '(ninguno seleccionado)' ?></strong>
                </li>
                <li>
                    Ha sugerido otras redes públicas:
                    <strong><?= $informacion->getSugerenciaRedesPublicas() ?: '(no ha sugerido ninguna)' ?></strong>
                </li>
                <li>
                    Recibir boletín:
                    <strong><?= $informacion->getRecibirBoletin() ? 'Sí' : 'No' ?></strong>
                </li>
                <li>
                    Recibir información sobre nuestras estaciones:
                    <strong><?= $informacion->getInformacionEstaciones() !== null ? ($informacion->getInformacionEstaciones() ? 'Sí' : 'No') : '(sin datos)' ?></strong>
                </li>
            </ul>
        </td>
    </tr>
<?php
/** @var \Encore\CesensApi\Model\Cliente $cliente */
$cliente = $usuario->getCliente();
if ($cliente !== null) {
?>
    <tr>
        <td>
            <p>Cliente: <strong><?= $this->escape($cliente->getNombre()) ?></strong></p>
        </td>
    </tr>
<?php
}

if ($acceso !== null) {
    $location = $acceso->location();
?>
    <tr>
        <td>
            <p>Información de acceso:</p>
            <ul>
                <li><?= $this->escape($this->tiposAccesos[$acceso->getTipo()]['nombre']) ?> <?= $this->escape($acceso->getVersion()) ?></li>
                <li>IP: <?= $acceso->getIp() ?></li>
<?php
    if ($location !== null && (!empty($location['city']) || !empty($location['country_name']))) {
?>
                <li>
                    <a href="https://www.google.com/maps/@<?= $this->escape($location['latitude']) ?>,<?= $this->escape($location['longitude']) ?>,14z">
                        <?= $this->escape($location['city']) ?> (<?= $this->escape($location['country_code']) ?>)
                    </a> <small>(la ubicación es muy aproximada)</small>
                </li>
<?php
    }
?>
            </ul>
        </td>
    </tr>
<?php
}

if ($numeroUsuarios !== null) {
?>
    <tr>
        <td>
            <p>Cantidad total de usuarios registrados y verificados: <strong><?= $numeroUsuarios ?></strong></p>
        </td>
    </tr>
<?php
}
?>
</table>

<p style="font-size: 7px; color: #ccc">ID de usuario: <?= $usuario->getId() ?></p>

</body>
</html>