<?php
/** @var \Encore\CesensApi\Model\Usuario $usuario */
$usuario = $this->usuario;

/** @var PHPMailer $mailer */
$mailer = $this->mailer;

$logo = dirname(dirname(__DIR__)) . '/public/antigua-app/img/logo_reducido.png';
if (file_exists($logo)) {
    $cidLogo = sha1($logo);
    $mailer->addEmbeddedImage($logo, $cidLogo, 'Logo Cesens.png', 'base64', 'image/png', 'inline');
} else {
    $cidLogo = null;
}

$fondoPie = dirname(dirname(__DIR__)) . '/public/sign-up/img/fondo-email.png';
if (file_exists($fondoPie)) {
    $cidFondoPie = sha1($fondoPie);
    $mailer->addEmbeddedImage($fondoPie, $cidFondoPie, 'Fondo pie email.png', 'base64', 'image/png', 'inline');
} else {
    $cidFondoPie = null;
}
?>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title><?= _('Cesens® - Monitorización de cultivos') ?></title>
    <style>
        body {
            background-color: #e8e8e8;
            font-family: "Catamaran", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 300;
            color: #333333;
        }
        #container {
            width: 90%;
            max-width: 800px;
            background-color: #ffffff;
            border: 1px solid #cccccc;
            border-radius: 3px;
            padding: 20px;
            font-size: 18px;
        }
        h1 {
            margin-top: 50px;
            margin-bottom: 18px;
            font-weight: 400;
        }
        .nota {
            text-align: center;
            color: #999999;
            font-size: 12px;
        }
    </style>
</head>
<body>
<center>
    <table id="container" border="0" cellpadding="0" cellspacing="0">
<?php
if ($cidLogo !== null) {
?>
        <tr>
            <td align="right">
                <img src="cid:<?= $cidLogo ?>" alt="Logo Cesens">
            </td>
        </tr>
<?php
}
?>
        <tr>
            <td align="center">
                <h1><?= _('Bienvenido a la Agricultura 4.0') ?></h1>
                <p><?= $this->escape($usuario->nombreCompleto()) ?> <?= _('te ha enviado esta invitación para usar Cesens<sup>®</sup>') ?></p>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 20px 0">
                <table border="0" cellpadding="5">
                    <tr>
                        <td>
                            <table cellpadding="2" border="0" class="boton">
                                <tr>
                                    <td>
                                        <a href="https://app.cesens.com/app-v2/" target="_blank">
<?php
$file = __DIR__ . '/img/aplicacion-ordenador.png';
$cid = null;
if (file_exists($file)) {
    $cid = sha1($file);
    $mailer->addEmbeddedImage($file, $cid, 'aplicacion-ordenador.png', 'base64', 'image/png', 'inline');
}
?>
                                            <img src="cid:<?= $cid ?>" alt="<?= _('Aplicación para ordenador') ?>">
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table cellpadding="2" border="0">
                                <tr>
                                    <td>
                                        <a href="https://play.google.com/store/apps/details?id=com.encore_lab.cesens" target="_blank">
<?php
$file = __DIR__ . '/img/play-store.png';
$cid = null;
if (file_exists($file)) {
    $cid = sha1($file);
    $mailer->addEmbeddedImage($file, $cid, 'play-store.png', 'base64', 'image/png', 'inline');
}
?>
                                            <img src="cid:<?= $cid ?>" alt="Play Store (Android)">
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table cellpadding="2" border="0">
                                <tr>
                                    <td>
                                        <a href="https://itunes.apple.com/app/cesens/id1263442022?mt=8" target="_blank">
<?php
$file = __DIR__ . '/img/app-store.png';
$cid = null;
if (file_exists($file)) {
    $cid = sha1($file);
    $mailer->addEmbeddedImage($file, $cid, 'app-store.png', 'base64', 'image/png', 'inline');
}
?>
                                            <img src="cid:<?= $cid ?>" alt="App Store (iOS)">
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
<?php
if ($cidFondoPie !== null) {
?>
        <tr>
            <td align="center" style="padding-top: 55px; padding-bottom: 10px">
                <img src="cid:<?= $cidFondoPie ?>">
            </td>
        </tr>
<?php
}
?>
    </table>
</center>
<p class="nota">
    <?= str_replace('®', '<sup>®</sup>', _('Si no te has registrado en Cesens® y crees que has recibido este mensaje por error, simplemente ignóralo.')) ?>
</p>
</body>
</html>