<?php
/** @var \Encore\CesensApi\Model\Usuario $usuario */
$usuario = $this->usuario;

/** @var string $enlace */
$enlace = $this->enlace;

/** @var PHPMailer $mailer */
$mailer = $this->mailer;

$logo = dirname(dirname(__DIR__)) . '/public/antigua-app/img/logo_reducido.png';
$cidLogo = sha1($logo);
$mailer->addEmbeddedImage($logo, $cidLogo, 'Logo Cesens.png', 'base64', 'image/png', 'inline');
?>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cesens® - Restablecer contraseña</title>
    <style>
        body {
            font-family: sans-serif;
            color: #333;
            font-size: 14px;
        }
        .derecha {
            text-align: right;
            margin-bottom: 12px;
        }
        .principal {
            border: 1px solid #999999;
            width: 100%;
        }
        .boton {
            color: #f9f9f9;
            background-color: #488aff;
            font-weight: bold;
            border-radius: 2px;
        }
        .boton a {
            color: #fbfbfb;
            text-decoration: none;
        }
        .nota {
            color: #999999;
            font-size: 12px;
        }
    </style>
</head>
<body>
<div class="derecha">
    <img src="cid:<?= $cidLogo ?>" alt="Logo Cesens">
</div>
<table class="principal" cellpadding="7">
    <tr>
        <td>
<?php
if (!empty($usuario->nombreCompleto())) {
?>
            Hola, <strong><?= $this->escape($usuario->nombreCompleto()) ?></strong>.
<?php
}
?>
            <?= str_replace('®', '<sup>®</sup>', _('Has solicitado restablecer tu contraseña para acceder a Cesens®.')) ?>
        </td>
    </tr>
    <tr>
        <td>
            <?= _('Haz clic en el siguiente enlace para continuar:') ?>
        </td>
    </tr>
    <tr>
        <td>
            <table cellpadding="5" border="0" class="boton">
                <tr>
                    <td>
                        <a href="<?= $this->escape($enlace) ?>" target="_blank">
                            <?= _('Restablecer contraseña') ?>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<p class="nota">
    <?= str_replace('®', '<sup>®</sup>', _('Si no has solicitado cambiar tu contraseña de Cesens®, simplemente ignora este mensaje.')) ?>
</p>
</body>
</html>