<?php
/** @var \Encore\CesensApi\Model\Usuario $usuario */
$usuario = $this->usuario;

/** @var string $enlace */
$enlace = $this->enlace;

/** @var PHPMailer $mailer */
$mailer = $this->mailer;

$logo = dirname(dirname(__DIR__)) . '/public/antigua-app/img/logo_reducido.png';
if (file_exists($logo)) {
    $cidLogo = sha1($logo);
    $mailer->addEmbeddedImage($logo, $cidLogo, 'Logo Cesens.png', 'base64', 'image/png', 'inline');
} else {
    $cidLogo = null;
}

$fondoPie = dirname(dirname(__DIR__)) . '/public/sign-up/img/fondo-email.png';
if (file_exists($fondoPie)) {
    $cidFondoPie = sha1($fondoPie);
    $mailer->addEmbeddedImage($fondoPie, $cidFondoPie, 'Fondo pie email.png', 'base64', 'image/png', 'inline');
} else {
    $cidFondoPie = null;
}
?>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title><?= _('Bienvenido a Cesens®') ?></title>
    <style>
        body {
            background-color: #e8e8e8;
            font-family: "Catamaran", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 300;
            color: #333333;
        }
        #container {
            width: 90%;
            max-width: 800px;
            background-color: #ffffff;
            border: 1px solid #cccccc;
            border-radius: 3px;
            padding: 20px;
            font-size: 18px;
        }
        h1 {
            margin-top: 50px;
            margin-bottom: 18px;
            font-weight: 400;
        }
        .boton {
            color: #f9f9f9;
            background-color: #ffffff;
            font-weight: 400;
            border: 1px solid #cccccc;
            border-radius: 2px;
        }
        .boton a {
            color: #333333;
            text-decoration: none;
            padding: 2px 9px;
        }
        .nota {
            text-align: center;
            color: #999999;
            font-size: 12px;
        }
    </style>
</head>
<body>
<center>
    <table id="container" border="0" cellpadding="0" cellspacing="0">
<?php
if ($cidLogo !== null) {
?>
        <tr>
            <td align="right">
                <img src="cid:<?= $cidLogo ?>" alt="Logo Cesens">
            </td>
        </tr>
<?php
}
?>
        <tr>
            <td align="center">
                <h1><?= _('Bienvenido a la Agricultura 4.0') ?></h1>
                <p><?= _('Haz clic en el siguiente enlace para concluir el proceso de registro') ?></p>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 25px 0">
                <table cellpadding="5" border="0" class="boton">
                    <tr>
                        <td>
                            <a href="<?= $this->escape($enlace) ?>" target="_blank">
                                <?= _('Completar registro') ?>
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
<?php
if ($cidFondoPie !== null) {
?>
        <tr>
            <td align="center" style="padding-top: 55px; padding-bottom: 10px">
                <img src="cid:<?= $cidFondoPie ?>">
            </td>
        </tr>
<?php
}
?>
    </table>
</center>
<p class="nota">
    <?= str_replace('®', '<sup>®</sup>', _('Si no te has registrado en Cesens® y crees que has recibido este mensaje por error, simplemente ignóralo.')) ?>
</p>
</body>
</html>