<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Gráfica</title>
    <link rel="stylesheet" href="../../../public/antigua-app/vendor/bootstrap/dist/css/bootstrap.min.css">
    <script src="../../../public/antigua-app/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../../../public/antigua-app/vendor/highstock-release/highstock.js"></script>
    <script src="../../../public/antigua-app/js/config/highcharts.js"></script>
</head>
<body>
<script>
    (function () {
        new Highcharts.Chart({
            chart: {
                renderTo: document.body
            },
            plotOptions: {
                series: {
                    animation: false,
                    dataGrouping: {enabled: false},
                    gapSize: 0
                }
            },
            navigator: {
                enabled: false
            },
            scrollbar: {
                enabled: false
            },
            credits: {
                enabled: true,
                href:    null,
                text:    'Gráfica generada con Cesens'
            },
            {{CONFIG}}
        });
    })();
</script>
</body>
</html>
