<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<base href="file://{{PATH}}">
<style>
body { margin: 0; }
@font-face {
  font-family: "iconvault";
  src: url("../public/antigua-app/img/forecast/iconvault_forecastfont.eot");
  src: url("../public/antigua-app/img/forecast/iconvault_forecastfont.eot?#iefix") format("embedded-opentype"), url("../public/antigua-app/img/forecast/iconvault_forecastfont.woff") format("woff"), url("../public/antigua-app/img/forecast/iconvault_forecastfont.ttf") format("truetype"), url("../public/antigua-app/img/forecast/iconvault_forecastfont.svg#iconvault") format("svg");
  font-weight: normal;
  font-style: normal; }
.forecast-icon {
  position: relative; }
  .forecast-icon span {
    font-family: 'iconvault';
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
position: absolute;
font-size: 37pt;
top: -4px;left: -5px;
 }
    .forecast-icon span::before, .forecast-icon span::after {
      font-family: 'iconvault'; }
    .forecast-icon span.base-cloud::before {
      content: '\f105';
      color: #cccccc; }
    .forecast-icon span.windy-rain-cloud::before {
      content: '\f111';
      color: #cccccc; }
    .forecast-icon span.windy-snow-cloud::before {
      content: '\f109';
      color: #cccccc; }
    .forecast-icon span.base-thunder-cloud::before {
      content: '\f105';
      color: #000; }
    .forecast-icon span.icon-thunder::before {
      content: "\f114";
      color: orange; }
    .forecast-icon span.icon-sunny::before {
      content: "\f101";
      color: orange; }
    .forecast-icon span.icon-drizzle::before {
      content: "\f10a";
      color: #82b2e4; }
    .forecast-icon span.icon-hail::before {
      content: "\f10f";
      color: #cccccc; }
    .forecast-icon span.icon-showers::before {
      content: "\f104";
      color: #82b2e4; }
    .forecast-icon span.icon-rainy::before {
      content: "\f107";
      color: #4681c3; }
    .forecast-icon span.icon-snowy::before {
      content: "\f10b";
      color: #acd3f3; }
    .forecast-icon span.icon-frosty::before {
      content: "\f102";
      color: #85d8f7; }
    .forecast-icon span.icon-windy::before {
      content: "\f115";
      color: #cccccc; }
    .forecast-icon span.icon-windyrain::before {
      content: "\f10e";
      color: #acd3f3; }
    .forecast-icon span.icon-windysnow::before {
      content: "\f103";
      color: #acd3f3; }
    .forecast-icon span.icon-sleet::before {
      content: "\f10c";
      color: #acd3f3; }
    .forecast-icon span.icon-moon::after {
      content: "\f10d";
      color: orange; }
    .forecast-icon span.icon-night::after {
      content: "\f100";
      color: orange; }
    .forecast-icon span.icon-sun::after {
      content: "\f113";
      color: orange; }
    .forecast-icon span.icon-cloud::after {
      content: "\f106";
      color: #999; }
    .forecast-icon span.icon-cloud-dark::after {
      content: "\f106";
      color: #333; }
    .forecast-icon span.icon-sunrise::before {
      content: '\f112';
      color: orange; }
    .forecast-icon span.icon-sunset::before {
      content: '\f110';
      color: #f96f23; }
    .forecast-icon span.icon-mist::before {
      content: '\f108';
      color: #cccccc; }
</style>
</head>
<body>
<div class="forecast-icon">
{{ICONOS}}
</div>
</body>
</html>
