<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: sans-serif;
            font-size: 12px;
            color: #333;
        }
        h1 {
            font-weight: bold;
            font-size: 21px;
            padding: 0;
        }
        #header {
            border: 0;
            border-bottom: 1px solid #ddd;
            width: 100%;
        }
        #header td {
            vertical-align: middle;
        }
        .reglas {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        h2 {
            font-weight: bold;
            font-size: 14px;
            text-transform: uppercase;
            color: #777;
            padding: 0;
            margin: 15px 0;
        }
        .resumen {
            padding: 0;
            border-spacing: 0;
            border-collapse: collapse;
        }
        th {
            text-align: left;
        }
        td, th {
            font-size: 12px;
            vertical-align: top;
        }
        hr {
            border: 0;
            height: 1px;
            background-color: #ddd;
            width: 100%;
        }
        small {
            font-size: 95%;
        }
        .strong {
            font-weight: bold;
        }
        .prediccion td.dia {
            font-weight: bold;
            vertical-align: top;
            padding-top: 12px;
        }
        .text-muted {
            color: #999;
        }
        .prediccion {
            border-collapse: collapse;
            width: 610px;
        }
        .prediccion tr.impar td {
            background-color: #f9f9f9;
        }
        .prediccion th, .prediccion td {
            text-align: center;
            vertical-align: middle;
            border-bottom: 1px solid #bbb;
            padding: 5px;
        }
        .prediccion th {
            border-bottom-width: 2px;
        }
        .prediccion td.left {
            text-align: left;
        }
        img.viento {
            width: 23px;
        }
        img.estado-cielo {
            width: 25px;
        }
        #footer {
            margin-top: 30px;
            border-top: 1px solid #999999;
            padding-top: 10px;
            text-align: center;
            font-size: 11px;
        }
    </style>
</head>
<body>
<table id="header">
    <tr>
        <td><h1>{{INFORME}}</h1></td>
        <td style="text-align: right;"><img src="{{LOGO}}" alt="Cesens"></td>
    </tr>
</table>
{{IMAGENES}}
<p id="footer">Si desea cambiar los parámetros de este informe o quiere dejar de recibirlo, acceda a la aplicación <a href="https://app.cesens.com/">Cesens</a> y configúrelo.</p>
</body>
</html>