<?php
/** @var \Encore\CesensApi\Model\UbicacionCliente $ubicacion */
$ubicacion = $this->ubicacion;
/** @var \Encore\CesensApi\Service\Prediccion\PrediccionLocalidad $prediccion */
$prediccion = $this->prediccion;
$localidad = $prediccion->getLocalidad();

/** @var \Encore\CesensApi\Bin\ImagenesInforme $imagenes */
$imagenes = $this->imagenes;
$pathViento = $this->pathViento;
$pathEstadoCielo = $this->pathEstadoCielo;

/** @var \Encore\CesensApi\Service\Prediccion\Registro[] $dias */
$dias = [];
foreach ($prediccion->getRegistros() as $registro) {
    $dias[$registro->getInicio()->format('Y-m-d')] = $registro;
}
ksort($dias);

$format = function (\Encore\CesensApi\Service\Prediccion\Dato $dato) {
    $metrica = $dato->getMetrica();
    $valor = $dato->getValor();
    if (($metrica->getUnidad() === '%' || $metrica->getUnidad() === 'mm') && abs($valor) < 0.01) {
        return '-';
    }
    if (is_numeric($valor)) {
        return number_format($valor, $metrica->getUnidad() === 'mm' ? 1 : 0, ',', '.') . ' <small class="text-muted">' . $metrica->getUnidad() . '</small>';
    } else {
        return $valor;
    }
};
?>
<p>Predicción semanal de AEMET para la localidad de <strong><?php echo $this->escape($localidad->getNombre()); ?></strong> <small class="text-muted">(situada a <?php echo number_format($localidad->getDistancia($ubicacion), 1, ',', ''); ?> km de esta estación)</small></p>
<table class="prediccion">
    <thead>
        <tr>
            <th class="blanco"></th>
            <th>Estado<br>del cielo</th>
            <th>Temperatura<br>máxima</th>
            <th>Temperatura<br>mínima</th>
            <th>Prob.<br>precipitación</th>
            <th>Viento</th>
        </tr>
    </thead>
    <tbody>
<?php
$i = 0;
foreach ($dias as $dia => $registro) {
    $dia = DateTime::createFromFormat('Y-m-d|', $dia);
    /** @var \Encore\CesensApi\Service\Prediccion\EstadoCielo $estadoCielo */
    $estadoCielo = $registro->getDato(\Encore\CesensApi\Service\Prediccion\Metrica::get(\Encore\CesensApi\Service\Prediccion\Metrica::ESTADO_CIELO))->getValor();
    /** @var \Encore\CesensApi\Service\Prediccion\Viento $viento */
    $viento = $registro->getDato(\Encore\CesensApi\Service\Prediccion\Metrica::get(\Encore\CesensApi\Service\Prediccion\Metrica::VIENTO))->getValor();
    if ($estadoCielo === null) {
        continue;// TODO: comprobar por qué se llega a este estado
    }
?>
        <tr class="<?php echo $i++ % 2 === 0 ? 'par': 'impar'; ?>">
            <td class="strong"><?php echo $dia->format('d/m/Y'); ?></td>
            <td title="<?php echo $this->escape($estadoCielo->getNombre()); ?>">
                <img width="25" class="estado-cielo" src="cid:<?php echo $imagenes->generarEstadoCielo($estadoCielo->getIconos(), $pathEstadoCielo); ?>">
            </td>
            <td><?php echo $format($registro->getDato(\Encore\CesensApi\Service\Prediccion\Metrica::get(\Encore\CesensApi\Service\Prediccion\Metrica::TEMPERATURA_MAX))); ?></td>
            <td><?php echo $format($registro->getDato(\Encore\CesensApi\Service\Prediccion\Metrica::get(\Encore\CesensApi\Service\Prediccion\Metrica::TEMPERATURA_MIN))); ?></td>
            <td><?php echo $format($registro->getDato(\Encore\CesensApi\Service\Prediccion\Metrica::get(\Encore\CesensApi\Service\Prediccion\Metrica::PROB_PRECIPITACION))); ?></td>
            <td title="<?php echo $viento->getDireccion(), ' - ' . $viento->getVelocidad(), ' km/h'; ?>">
<?php
    if ($viento->getVelocidad() > 0) {
?>
                <img width="23" class="viento" src="cid:<?php echo $imagenes->añadir($viento->getImagen(), $pathViento); ?>">
<?php
    } else {
        echo '-';
    }
?>
            </td>
        </tr>
<?php
}
?>
    </tbody>
</table>