<?php
/** @var \Encore\CesensApi\Model\UbicacionCliente $ubicacion */
$ubicacion = $this->ubicacion;
/** @var \Encore\CesensApi\Service\Prediccion\PrediccionLocalidad $prediccion */
$prediccion = $this->prediccion;
$localidad = $prediccion->getLocalidad();

/** @var \Encore\CesensApi\Bin\ImagenesInforme $imagenes */
$imagenes = $this->imagenes;
$pathViento = $this->pathViento;
$pathEstadoCielo = $this->pathEstadoCielo;

/** @var \Encore\CesensApi\Service\Prediccion\Registro[][] $dias */
$dias = [];
foreach ($prediccion->getRegistros() as $registro) {
    $dia = $registro->getInicio()->format('Y-m-d');
    if (!isset($dias[$dia])) {
        $dias[$dia] = [];
        $numRegistros[$dia] = 0;
    }
    $dias[$dia][] = $registro;
}
$i = 0;
foreach ($dias as $dia => $registros) {
    if ($i++ !== 0 && count($registros) < 12) {
        unset($dias[$dia]);
    }
}
$primerDia = array_keys($dias)[0];
$registrosPrimerDia = count($dias[$primerDia]);

$format = function (\Encore\CesensApi\Service\Prediccion\Dato $dato) {
    $metrica = $dato->getMetrica();
    $valor = $dato->getValor();
    if (($metrica->getUnidad() === '%' || $metrica->getUnidad() === 'mm') && abs($valor) < 0.01) {
        return '-';
    }
    if (is_numeric($valor)) {
        return number_format($valor, $metrica->getUnidad() === 'mm' ? 1 : 0, ',', '.') . ' <small class="text-muted">' . $metrica->getUnidad() . '</small>';
    } else {
        return $valor;
    }
};
?>
<p>Predicción horaria de AEMET para hoy para la localidad de <strong><?php echo $this->escape($localidad->getNombre()); ?></strong> <small class="text-muted">(situada a <?php echo number_format($localidad->getDistancia($ubicacion), 1, ',', ''); ?> km de esta estación)</small></p>
<table class="prediccion">
    <thead>
        <tr>
            <th colspan="<?php echo $registrosPrimerDia > 8 ? 1 : 2; ?>"><?php echo $registrosPrimerDia > 8 ? DateTime::createFromFormat('Y-m-d|', $primerDia)->format('d/m/Y') : ''; ?></th>
            <th>Estado<br>del cielo</th>
            <th>Temperatura</th>
            <th>Prob.<br>precipitación</th>
            <th>Precipitaciones</th>
            <th>Humedad<br>relativa</th>
            <th>Viento</th>
        </tr>
    </thead>
    <tbody>
<?php
$i = 0;
foreach ($dias as $dia => $registros) {
    $dia = DateTime::createFromFormat('Y-m-d|', $dia);
    $j = 0;
    foreach ($registros as $registro) {
        /** @var \Encore\CesensApi\Service\Prediccion\EstadoCielo $estadoCielo */
        $estadoCielo = $registro->getDato(\Encore\CesensApi\Service\Prediccion\Metrica::get(\Encore\CesensApi\Service\Prediccion\Metrica::ESTADO_CIELO))->getValor();
        $temperatura = $registro->getDato(\Encore\CesensApi\Service\Prediccion\Metrica::get(\Encore\CesensApi\Service\Prediccion\Metrica::TEMPERATURA));
        $probPrecip = $registro->getDato(\Encore\CesensApi\Service\Prediccion\Metrica::get(\Encore\CesensApi\Service\Prediccion\Metrica::PROB_PRECIPITACION));
        $precipitaciones = $registro->getDato(\Encore\CesensApi\Service\Prediccion\Metrica::get(\Encore\CesensApi\Service\Prediccion\Metrica::PRECIPITACION));
        $humedad = $registro->getDato(\Encore\CesensApi\Service\Prediccion\Metrica::get(\Encore\CesensApi\Service\Prediccion\Metrica::HUMEDAD_RELATIVA));
        /** @var \Encore\CesensApi\Service\Prediccion\Viento $viento */
        $viento = $registro->getDato(\Encore\CesensApi\Service\Prediccion\Metrica::get(\Encore\CesensApi\Service\Prediccion\Metrica::VIENTO))->getValor();
?>
        <tr class="<?php echo $i++ % 2 === 0 ? 'par' : 'impar'; ?>">
<?php
        if ($registrosPrimerDia <= 8 && $j++ === 0) {
?>
            <td rowspan="<?php echo count($registros); ?>" class="dia"><?php echo $dia->format('d/m/Y'); ?></td>
<?php
        }
?>
            <td><?php echo $registro->getInicio()->format('H'); ?> h</td>
            <td title="<?php echo $estadoCielo !== null ? $this->escape($estadoCielo->getNombre()) : ''; ?>">
<?php
        if ($estadoCielo !== null) {
?>
                <img width="25" class="estado-cielo" src="cid:<?php echo $imagenes->generarEstadoCielo($estadoCielo->getIconos(), $pathEstadoCielo); ?>">
<?php
        }
?>
            </td>
            <td><?php echo $format($temperatura); ?></td>
            <td><?php echo $format($probPrecip); ?></td>
            <td><?php echo $format($precipitaciones); ?></td>
            <td><?php echo $format($humedad); ?></td>
            <td title="<?php echo $viento->getDireccion(), ' - ' . $viento->getVelocidad(), ' km/h'; ?>">
<?php
        if ($viento->getVelocidad() > 0) {
?>
                <img width="23" class="viento" src="cid:<?php echo $imagenes->añadir($viento->getImagen(), $pathViento); ?>">
<?php
        } else {
            echo '-';
        }
?>
            </td>
        </tr>
<?php
    }
    if (count($registros) > 8) {
        break;
    }
}
?>
    </tbody>
</table>